/ArraySort.class
/AscendingAndDescending.class
/Descending.class
/Duplicates.class
/MissingNumber.class
/Pair.class
/Pattern2.class
/Pattern3.class
/PrintPattern.class
/SubArray.class
/SumOfCubeOfFibonnacciSeries.class
/SumOfFactorial.class
/SumOfSeries.class
/SumOfSeries3.class
/NewPattern.class
